@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    color: #fff;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(196,70,252,1) 100%);
    overflow-x: hidden;
}
a { cursor: pointer; transition: all 200ms linear; }

a:hover { text-decoration: none; }

.link { color: #fff; }

.link:hover { color: #08d;; }

p { font-weight: 500; font-size: 14px; line-height: 1.7; }

h4 { font-weight: 600; }

h6 span{
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.section{
    position: relative;
    width: 100%;
    display: block;
}
.full-height{ min-height: 100vh; }

.topButtons {
    justify-content: center;
    display: flex;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #ffffff;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #08d;;
    background-color: #2a2b38;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}
.checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
}
.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 40px;
}
.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}
.card-front, .card-back {
    width: 100%;
    height: 100%;
    background-color: #2a2b38;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.center-wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}

.form-group{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #08d;;
    transition: all 200ms linear;
}
.form-group input:-ms-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
    opacity: 0;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
    opacity: 0;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
    opacity: 0;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
    opacity: 0;
    transition: all 200ms linear;
}
.btn{
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #08d;;
    color: #fff;
    box-shadow: 0 8px 24px 0 rgba(18, 248, 173,.2);
}
.btn:active,
.btn:focus{
    background-color: #fff;
    color: #08d;;
    box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}
.btn:hover{
    background-color: #fff;
    color:#08d;;
    box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}

.logo {
    font-family: 'Lobster', cursive;
    position: absolute;
    font-size: 50px;
    top: 300px;
    left: 400px;
    color: white;
    text-shadow: rgb(2, 0, 2) 0.0118614px 0.0118614px 0px, rgb(2, 0, 2) 1.01186px 1.01186px 0px, rgb(2, 0, 2) 2.01186px 2.01186px 0px, rgb(2, 0, 2) 3.01186px 3.01186px 0px, rgb(2, 0, 2) 4.01186px 4.01186px 0px, rgb(2, 0, 2) 5.01186px 5.01186px 0px, rgb(2, 0, 2) 6.01186px 6.01186px 0px, rgb(2, 0, 2) 7.01186px 7.01186px 0px, rgb(2, 0, 2) 8.01186px 8.01186px 0px, rgb(10, 1, 8) 9.01186px 9.01186px 0px, rgb(18, 3, 15) 10.0119px 10.0119px 0px, rgb(26, 4, 22) 11.0119px 11.0119px 0px, rgb(34, 6, 29) 12.0119px 12.0119px 0px, rgb(42, 7, 36) 13.0119px 13.0119px 0px, rgb(50, 9, 43) 14.0119px 14.0119px 0px, rgb(58, 10, 50) 15.0119px 15.0119px 0px, rgb(66, 12, 57) 16.0119px 16.0119px 0px, rgb(74, 13, 64) 17.0119px 17.0119px 0px, rgb(82, 15, 70) 18.0119px 18.0119px 0px, rgb(90, 16, 77) 19.0119px 19.0119px 0px, rgb(98, 18, 84) 20.0119px 20.0119px 0px, rgb(106, 19, 91) 21.0119px 21.0119px 0px, rgb(114, 21, 98) 22.0119px 22.0119px 0px, rgb(122, 22, 105) 23.0119px 23.0119px 0px, rgb(130, 24, 112) 24.0119px 24.0119px 0px, rgb(138, 25, 119) 25.0119px 25.0119px 0px, rgb(147, 27, 126) 26.0119px 26.0119px 0px;
}

.logo * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s;
    transition: all 0.3s
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo a:hover {
    color: #FFC721;
}

section{
    overflow: hidden;
}
.notification{
    border-radius: 0px 0px 5px 5px;
    margin: 0 auto;
    box-shadow: #95a5a6 0px 0px 6px 2px;
    color: white;
    line-height: 40px;
    overflow: hidden;
    animation: reveal 0.4s;
}
.notification .title{
    margin-right: 15px;
    line-height: 40px;
    display: inline-block;
}

.notification .close{
    background: rgba(255,255,255,0.2);
    //padding: 0px 15px;
    float: right;
    line-height: 40px;
    display: inline-block;
    color: white;
}

.notification .close:hover{
    cursor: pointer;
}

.notification.closed{
    transform: translate(0px, -50px);
    transition: 0.7s;
}

.modalHeader {
    border-bottom: 0;
    float: left;
}

.forgotPasswordText {
    margin-bottom: -3rem;
    position: relative;
    top: -3rem;
}

.sendPasswordResetLinkBtnWrapper {
    padding-top: 1rem;
}

.sendPasswordResetLinkBtnWrapper {
    padding-top: 1rem;
}

@keyframes reveal{
    0%{
        transform: translate(0px, -50px);
    }
    50%{
        transform: translate(0px, -50px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

.notification.success{
    background: #2ecc71;

}
.notification.success .title{
    background: #27ae60;
    float: left;
    width: 18%;
    text-align: center;
}

.notification.error{
    background: #e74c3c;
}
.notification.error .title{
    background: #c0392b;
    float: left;
    width: 18%;
    text-align: center;
}

.notification.warning{
    background: #f1c40f;
}
.notification.warning .title{
    background: #f39c12;
}

.notification.normal{
    background: #3498db;
}
.notification.normal .title{
    background: #2980b9;
}

@media only screen and (max-width: 767px) {
    .logo {
        font-size: 20px;
        position: absolute;
        margin: -20px 15px;
        left: 190px;
    }
}

@media only screen and (max-width: 1180px) {
    .logo {
        font-size: 15px;
    }
}

@media only screen and (max-width: 150px) {
    .logo {
        font-size: 8px;
    }
}
