.phopixLogo {
    display: flex;
    margin: 0 auto;
;
}

h1.faqTitle {
    font-weight: 900;
}

.styles_faq-row-wrapper__3vA1D h2 {
    text-align: center;
    margin: 0 auto;
}

.styles_faq-row-wrapper__3vA1D {
    background-color: transparent;
}

.row-content-text {
    color: #ffffff !important;
}

.styles_row-content__QOGZd .row-content .styles_animate__3ecdr {
    height: 0;
}
